form {
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 40px;
  input {
    font-family: $primary-font;
    font-size: 32px;
    color: $primary-color;
    border: 6px solid $primary-color;
    background-color: inherit;
    padding: 25px 100px 25px 5px;
    border-radius: 3px;
    transition: background-color .35s;
  }
}

form input::placeholder {
  color: $primary-color;
  opacity: 1;
}

form input:focus {
  background-color: lighten($secondary-color, 10%);
}

.scoreboard {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 535px;
  h3 {
    text-transform: lowercase;
    font-size: 32px;
  }
  .reset {
    color: $secondary-color;
    background-color: $primary-color;
    padding: 10px;
    font-size: 23px;
    border-radius: 3px;
    border: 2px solid $primary-color;
    transition: background-color .35s, color .35s;
    &:hover,
    &:focus {
      background-color: inherit;
      color: inherit;
    }
  }
}       


.incorrect-styles {
  color: #f06464;
  transition: color .35s;
}