form {
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 40px;
  input {
    font-family: $primary-font;
    font-size: 32px;
    color: $primary-color;
    border: 6px solid $primary-color;
    background-color: inherit;
    padding: 25px 100px 25px 5px;
    border-radius: 3px;
    transition: background-color .35s;
  }
}

@media (max-width: 580px) {
  form input {
    font-size: 25px;
    width: 100%;
  }
}

form input::placeholder {
  color: $primary-color;
  opacity: 1;
}

form input:focus {
  background-color: lighten($secondary-color, 10%);
}

.scoreboard {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 535px;
  margin-bottom: 200px;
  .reset {
    color: $secondary-color;
    background-color: $primary-color;
    padding: 10px;
    font-size: 23px;
    border-radius: 3px;
    border: 2px solid $primary-color;
    transition: background-color .35s, color .35s;
    &:hover,
    &:active {
      background-color: inherit;
      color: inherit;
    }
  }
} 

@media (max-width:580px) {
  .scoreboard {
    flex-direction: column;
    align-items: flex-start;
  }
  .scoreboard h3 {
    margin-bottom: 80px;
  }
}

.score {
  position: relative;
  transition: left .35s, color .35s;
}

.game-over {
  color: #f06464;
  transition: color .35s;
}